#home_job_Education {
  width: 85%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 10px;
}

#home_job_Education > a > i {
  color: black;
}

#home_job_Education > span {
  font-size: 18px;
  color: #383838;
  font-weight: 400;
}

#container {
  display: flex;
  width: 100%;

  height: auto;
  justify-content: space-around;
}
#first {
  width: 38%;
}
#second {
  width: 29%;

  margin-top: 52px;
}
#third {
  width: 30%;

  background-color: #f8f8f8;
}

#first > div {
  margin-top: 20px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
#second > div {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 5px;
}
#third > div {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 5px;
}
.top {
  border-bottom: 3px solid red;
  font-size: 30px;
}
#most {
  border-bottom: 3px solid red;
  margin-top: 330px;
  font-size: 30px;
}
#gal {
  width: 90%;
  margin: 20px auto auto auto;
  display: flex;
  justify-content: space-between;
  background-color: #e6e6e6;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
#galy {
  width: 60%;
  padding: 10px;
}
#more {
  width: 35%;
  padding: 10px;
}
#more > div {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
#more > div:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  cursor: pointer;
}
#negis {
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  margin: 20px auto auto auto;
}
#middle {
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  margin: 20px auto auto auto;
}
#euro {
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  margin: 20px auto auto auto;
}
#ausnz {
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  margin: 20px auto auto auto;
}
#mid {
  width: 60%;
  display: flex;
}

#mid > div {
  padding-bottom: 20px;
}
#europ {
  width: 60%;
  display: flex;
}

#europ > div {
  padding-bottom: 20px;
}
#aunz {
  width: 60%;
  display: flex;
}

#aunz > div {
  padding-bottom: 20px;
}
#neg {
  width: 60%;
  display: flex;
}

#neg > div {
  padding-bottom: 20px;
}
#asfirst {
  display: flex;
}
#asia {
  width: 90%;
  margin: 20px auto auto auto;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
#america {
  width: 90%;
  margin: 20px auto auto auto;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
#africa {
  width: 90%;
  margin: 20px auto auto auto;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
#affirst {
  display: flex;
}
#afsecond {
  display: flex;
}

#amfirst {
  display: flex;
}
#amsecond {
  display: flex;
}
#assecond {
  display: flex;
}
#subcon {
  width: 85%;
  margin: auto;
}
header {
  margin-bottom: 40px;
}

footer {
  margin-top: 50px;
}
